.main-title {
    text-align: center;
    margin-top: 5vh;
    color: white;
}

.second-title-åpen {
    text-align: center;
    margin-top: 35vh;
    color: white;
}

.second-title {
    text-align: center;
    margin-top: 1vh;
    color: white;
}

.second-title-2 {
    text-align: center;
    margin-top: -30px;
    color: rgba(255, 255, 255, 0.708);
}

.regular {
    font-family: "europa", Helvetica, Arial, sans-serif !important;
    font-style: normal;
    font-weight: 400;
}

h1 {
    font-size: 120px;
}

@media screen and (min-width: 1200px) {
    h1 {
        font-size: 130px;
    }
}

@media (max-width: 767px) {
    h1 {
        font-size: 110px;
    }
}

@media (max-width: 567px) {
    h1 {
        font-size: 100px;
    }
}

h2 {
    font-size: 17px;
}

@media screen and (min-width: 1200px) {
    h2 {
        font-size: 20px;
    }
}

@media (max-width: 767px) {
    h2 {
        font-size: 17px;
    }
}

@media (max-width: 567px) {
    h2 {
        font-size: 20px;
    }
}

@media (max-width: 567px) {
    h2 {
        font-size: 20px;
    }
}
